{% extends "layouts/dashboard.twig" %}

{% import "macros/breadcrumbs.twig" as breadcrumbs %}

{% block content %}
    {{ breadcrumbs.body(
        {
            'dashboard': 'My Dashboard',
            'dashboard:admin:groups': 'Manage Groups'
        },
        (isEditMode) ? 'Edit Group' : 'Create Group'
    ) }}

    <h1>Manage Groups</h1>

    <div class="card">
        <h2 class="card-header">
            {% if isEditMode %}
                Edit Group
            {% else %}
                Create Group
            {% endif %}
        </h2>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger">
                    <b>Error:</b> {{ error }}
                </div>
            {% endif %}

            <form action="" method="POST">
                <div class="row mb-3">
                    <div class="col-md-8">
                        {% if not isEditMode %}
                            <div class="control-group mb-3">
                                <label for="id" class="form-label">Group ID:</label>
                                <input type="text" name="id" id="id"
                                       value="{{ row.id|default('')|e('html_attr') }}"
                                       class="form-control form-control-lg" required maxlength="50">

                                <p class="form-text">
                                    The programmatic ID of the group. Should be only letters, numbers and underscores
                                    (i.e. <code>my_group_1</code>).
                                </p>
                            </div>
                        {% endif %}

                        <div class="control-group">
                            <label for="name" class="form-label">Group Name:</label>
                            <input type="text" name="name" id="name"
                                   value="{{ row.name|default('')|e('html_attr') }}"
                                   class="form-control form-control-lg" required maxlength="255">
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
